*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    font-size: 62.5%;
    /*1rem = 10px*/
    font-family: 'Mulish', sans-serif;
    /*global font - Mulish*/
}

body{
    background-color: #F2F2F2;
}

/*overall colors*/
$mainTextColor: #111111;
$secondTextColor: #4A4FF2;

/*standard tags*/
a{
    text-decoration: none;
    color: $mainTextColor;
}

li{
    list-style: none;
}

/*mixins*/
@mixin flex ($direction, $justify-cont, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-cont;
    align-items: $align-items;

    /*@include flex*/
    /*fungerar som en javascript/c# funktion*/
}

@mixin globalPageSettings ($height) {
    background-color: #ffffff;
    max-width: 136rem;
    height: $height;
    margin: auto;

    
}


/*overall classes*/
.article_heading{
    color: $mainTextColor;
    font-weight: 700;
    font-size: 4rem;

}

.article_paragraph{
    font-weight: 400;
    font-size: 1.6rem;
}

.softGreyText{
    color: $mainTextColor;
    font-weight: 400;
    font-size: 1.6rem;
}