header{
    @include globalPageSettings (15rem);
    @include flex(row, flex-start, center);
    
    nav{
        width: 111rem;
        margin: auto;

        @include flex(row, space-between, center);

        ul{
        
            display: flex;
            justify-content: space-between;

            width: 13rem;

            .navLink{
                font-weight: 700;
                font-size: 1.4rem;
            }

            .navLink:hover{
                text-decoration: underline;
            }

        }
    }

    .selectedNavLink{
        color: $secondTextColor;
    }
    
}

.logoLink{
    width: 10rem;
    height: 2rem;
}