/*projeckt page section three*/
.sectionThree{
    @include globalPageSettings (45rem);
    @include flex(row, center, center);

    .sectionThree-imgContaioner{
        width: 111rem;
        @include flex(row, space-between, center);
        flex-wrap: wrap;

        img{
            width: 31.5%;
            height: auto;
            transition: 1s;
        }
        img:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}