/*section one home page*/
.sectionOne{
    @include globalPageSettings (40rem);
    @include flex(row, space-around, center);

    .introduction{
        max-width: 67rem;
        height: 25rem;

        @include flex(column, space-between, flex-start);

        .subHeading{
            color: $secondTextColor;
            font-size: 2.2rem;
            font-weight: 700;
        }

        h2{
            line-height: 6rem;

            span{
                color: $secondTextColor;
            }
        } 
    }

    /*design is about process side text.*/
    .subArticle{
        max-width: 64rem;
        height: 25rem;

        @include flex(column, flex-end, flex-start);

        .article_paragraph{
            padding-top: 1rem;

            span{
                border-top: 1px solid $borderColor;
                padding-top: 2rem;
                
            }

        }
    }
}