* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html {
  font-size: 62.5%;
  /*1rem = 10px*/
  font-family: 'Mulish', sans-serif;
  /*global font - Mulish*/
}

body {
  background-color: #F2F2F2;
}

/*overall colors*/
/*standard tags*/
a {
  text-decoration: none;
  color: #111111;
}

li {
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
}

/*mixins*/
/*overall classes*/
.article_heading {
  color: #111111;
  font-weight: 700;
  font-size: 4rem;
}

.article_paragraph {
  font-weight: 400;
  font-size: 1.6rem;
}

.softGreyText {
  color: #111111a4;
  font-weight: 400;
  font-size: 1.6rem;
}

/*header*/
header {
  background-color: #ffffff;
  max-width: 136rem;
  height: 15rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@include flex*/
  /*fungerar som en javascript/c# funktion*/
}

header nav {
  width: 111rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@include flex*/
  /*fungerar som en javascript/c# funktion*/
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13rem;
}

header nav ul .navLink {
  font-weight: 700;
  font-size: 1.4rem;
}

header nav ul .navLink:hover {
  text-decoration: underline;
}

header .selectedNavLink {
  color: #4A4FF2;
}

.logoLink {
  width: 10rem;
  height: 2rem;
}

.logoText {
  width: 100%;
  height: 100%;
}

/*section*/
/*projeckt page, section one*/
.sectionOne {
  background-color: #ffffff;
  max-width: 136rem;
  height: 40rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@include flex*/
  /*fungerar som en javascript/c# funktion*/
  /*information list on project page section one*/
}

.sectionOne .sectionOne-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*@include flex*/
  /*fungerar som en javascript/c# funktion*/
  height: 36rem;
  width: 65rem;
  margin-right: 5rem;
}

.sectionOne .projectInformation {
  width: 30rem;
  height: 32rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

.sectionOne .projectInformation .gridItem {
  border-bottom: 1px solid #85858588;
  height: 75%;
}

.sectionOne .projectInformation .softGreyText + p {
  padding-left: 12%;
  font-weight: bold;
}

/*projeckt page section two*/
.sectionTwo {
  background-color: #ffffff;
  max-width: 136rem;
  height: 80rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@include flex*/
  /*fungerar som en javascript/c# funktion*/
  /*first img projectPage*/
  /*img text section two project page*/
}

.sectionTwo .sectionTwo-imgContainer {
  max-width: 111rem;
  height: auto;
}

.sectionTwo .sectionTwo-imgContainer .project-sectionTwo_img {
  max-width: 100%;
  height: auto;
}

.sectionTwo .sectionTwo-img_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 111rem;
  height: 14rem;
}

/*projeckt page section three*/
.sectionThree {
  background-color: #ffffff;
  max-width: 136rem;
  height: 45rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@include flex*/
  /*fungerar som en javascript/c# funktion*/
}

.sectionThree .sectionThree-imgContaioner {
  width: 111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@include flex*/
  /*fungerar som en javascript/c# funktion*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionThree .sectionThree-imgContaioner img {
  width: 31.5%;
  height: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

.sectionThree .sectionThree-imgContaioner img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*footer*/
footer {
  /*look at the gobal for ref with the @mixins*/
  background-color: #ffffff;
  max-width: 136rem;
  height: 15rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@include flex*/
  /*fungerar som en javascript/c# funktion*/
}

footer .navFooter {
  width: 95rem;
  margin: auto 3rem auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@include flex*/
  /*fungerar som en javascript/c# funktion*/
}

footer .navFooter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 14rem;
}

footer .navFooter ul .navLink {
  font-weight: 700;
  font-size: 1.4rem;
}

footer .navFooter ul .navLink:hover {
  text-decoration: underline;
}

footer .selectedNavLink {
  color: #4A4FF2;
}

footer .socialMediaList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 10rem;
  margin: auto auto auto 3rem;
}

footer .socialMediaList .SocialMediaLogos {
  width: 1.6rem;
  height: 1.6rem;
}
/*# sourceMappingURL=projects.css.map */